<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

 <h1>Aplicativo Teste para Ionic</h1>
 <ion-row (click)="CarreiraUnica()">
   <ion-col size = "12" class = "ion-text-center">
     <ion-button size = "large">Me toca</ion-button>
   </ion-col>
 </ion-row>

</ion-content>
