<ion-header>
  <ion-toolbar>
    <ion-title>carreira-unica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Educação Socioemocional</h1>
<strong>Agora está funcionando</strong>
<p>A educação socioemocional, cada vez mais, faz parte da realidade das escolas. Com ela são trabalhados valores e aptidões como: criatividade,  empatia, colaboração,  resiliência, superação de obstáculos e adaptação a mudanças.

  Tais habilidades são desenvolvidas dentro do currículo através de atividades que contemplem alguns aspectos importantes para desenvolver as crianças e adolescentes.
  
  Mas, o que é de fato educação socioemocional e quais suas competências? Como o professor e a escola podem implementá-la na sua rotina e no planejamento de aula? Veremos nesta leitura!
  
  O que é educação socioemocional?
  Atualmente, os pais procuram por instituições de ensino completas e que agreguem ao currículo o desenvolvimento de habilidades e competências. Com as constantes transformações da escola, a adequação das necessidades sociais torna-se algo muito importante dentro das salas de aula.
  
  A educação socioemocional se insere nesse contexto como um conjunto de habilidades sociais e emocionais relativas a uma série de atitudes compatíveis com o que se espera dos indivíduos em tempos atuais e futuros.
  
  Essas habilidades são, dentre outras:
  
  Ética;
  Empatia;
  Felicidade;
  Autoestima;
  Confiança;
  Paciência;
  Autoconhecimento;
  Responsabilidade;
  Autonomia;
  Criatividade.
  Além disso, a educação socioemocional compreende algumas variáveis:
  
  Emocionais: autocontrole e autoconhecimento;
  Comportamentais: perseverança, persistência e responsabilidade;
  Psicossociais;
  Cognitivas: como a empatia.
  A educação socioemocional, portanto, favorece um desenvolvimento mais saudável das crianças e adolescentes, dando condições para uma constituição mais equilibrada como cidadão e indivíduo.
  
  Quais os benefícios da educação socioemocional?
  
  Primeiramente, um currículo voltado para a educação socioemocional tende a ter alunos mais engajados e prontos para explorar todo o potencial que possuem. Alguns benefícios são evidenciados em sua implementação. Listamos alguns deles abaixo:
  
   Alunos menos indisciplinados e mais centrados no seu desenvolvimento;
  Melhoria no desempenho cognitivo;
  Redução de casos de bullying;
  Proposta educativa mais atual e interativa;
  Alunos mais tranquilos, confiantes, equilibrados e capazes;
  Formação de futuros profissionais mais humanos e alinhados com as exigências do mercado de trabalho
  A educação socioemocional favorece o estudante, a escola e também a sociedade como um todo.
  
  Cidadãos mais responsáveis, que saibam tomar melhores decisões e tenham habilidades para lidar com suas próprias emoções, são compromissos relevantes trazidos através da implementação da educação socioemocional presente na BNCC.
  
  Conheça as 5 competências da educação socioemocional na BNCC
  
  A educação socioemocional está na BNCC, portanto, deve fazer parte da base curricular de todas as escolas.
  Com a regulamentação da Base Comum Curricular (BNCC), as competências da educação socioemocional passaram a fazer parte do currículo das escolas, o que deixa visível o quanto é importante sua implementação.
  
  As 5 competências da educação socioemocional de acordo com a BNCC são:
  
  Autoconhecimento
  Estimula o aluno a conhecer a si mesmo, seus desejos, crenças e prospecção de futuro. Essa competência é de grande importância para traçar um foco futuro.
  
  Em trabalhos com adolescentes, o autoconhecimento pode ser utilizado para mapear um objetivo de carreira, por exemplo. Já com as crianças, atividades envolvendo emoções e sentimentos auxiliam essa faixa etária de acordo com a educação socioemocional estipulada na BNCC.
  
  Autogerenciamento
  É trabalhado o controle de impulsos e do estresse, a disciplina e organização e a ir em busca das metas e objetivos. Dentro da sala de aula, é possível implementar atividades de autogerenciamento com exercícios de relaxamento, práticas de Mindfulness, rotinas estabelecidas e regras claras aliadas às consequências do não cumprimento delas.
  
  Tomada responsável de decisões
  Auxilia os estudantes no processo de fazer escolhas saudáveis para suas vida. Valores como ética, regras sociais e comportamentos construtivos estão presentes nesta habilidade.
  
  No cotidiano, realizar jogos, trazer temas que façam parte desses assuntos torna a construção da tomada responsável de decisões algo interessante e envolvente.
  
  Habilidades de relacionamento
  Aqui entra em vigor a construção do trabalho colaborativo, a comunicação, as relações em geral e a participação social.
  
  As atividades de construção de ideias em grupos, a apresentação posterior do que foi discutido e o resultado final disso são exemplos das habilidades expressas dentro desta competência na educação socioemocional.
  
  Consciência social
  Foca em desenvolver o respeito, a diversidade, a empatia e ter um olhar amplo sobre as coisas.
  
  Dentro deste contexto, os projetos interdisciplinares voltados às questões sociais atingem com mais precisão os objetivos desta competência e apoiam a reflexão dos estudantes dentro dos assuntos envolvendo a consciência social.
  
  Aspectos importantes da educação socioemocional
  
  É importante o apoio de educadores, gestores e pais na inclusão da educação socioemocional no currículo escolar.
  A educação socioemocional assume um papel de uma pedagogia voltada a afetividade, portanto, educadores e gestores devem observar alguns pontos relevantes nesta construção, tais como:
  
  Relação aluno e professor
  Essa relação deve ser baseada em compreensão dos sentimentos, pontos de vista e vivências daqueles alunos. Não estamos falando de abonar regras, mas sim, olhar para os alunos de forma mais empática. Entender o contexto cultural e socioemocional dos alunos ajuda a construir uma relação construtiva e próxima.
  
  Competências socioemocionais e competências cognitivas
  As habilidades socioemocionais vão além da construção cognitiva pois trabalham com valores que irão refletir no caráter dos estudantes, saindo da ideia de que a escola deve apenas se preocupar com conteúdos. Na educação socioemocional, o ensino vai além.
  
  Ambiente escolar humanizado
  Aqui, cabe acolher o aluno e fazê-lo sentir como sendo único e capaz, através da segurança e confiança. O ambiente escolar deve ser um local de crescimento, respeito e participação, onde há permissão para que a criança e o adolescente se expressem.
  
  5 dicas para a implementação da educação socioemocional
  
  Primeiramente, ao optar pela implementação da educação socioemocional no currículo, deve haver uma preocupação constante com a formação docente.
  
  Os professores precisam estar continuamente atualizados sobre a evolução dos alunos além da reflexão de sua própria prática. Além disso, podemos citar alguns exemplos de trabalho prático com os alunos:
  
  1- Realizar oficinas de aprendizado
  Os trabalhos em grupos são essenciais para os alunos aprenderem a gerenciar os conflitos. Trazer oficinas de aprendizado e focar no trabalho colaborativo – como apresentar uma solução com a temática de sustentabilidade para a escola – engrandece a formação dessas competências.
  
  2- Rodas de conversas
  Roda de conversas sobre felicidade, amor, empatia e outros. O espaço para que se expressem é fundamental para sentirem-se seguros, além de exercitar a escuta respeitosa.
  
  3- Espaço para desenhos e autorretrato
  Torna viável a promoção do autoconhecimento, além do gerenciamento das emoções, trazendo benefícios como: diminuição da ansiedade, do estresse, enfrentamento de dores e tristezas e aumento da sensação de relaxamento.
  
  4- Análise de fragmentos de filmes
  É interessante buscar filmes onde seja possível despertar a consciência social e promover debates e atividades de escrita, direcionando sempre para o respeito e para a empatia.
  
  5- Promover show de talentos musicais
  Organizar um show de talentos musicais permite desenvolver o autoconhecimento, pois, além de gerar uma identificação pelo que está sendo proposto, permite a construção da personalidade e a manifestação artística.
  
  A educação socioemocional ganhou importância no que se refere à construção de um cidadão para viver na sociedade contemporânea.
  
  Com as constantes transformações sociais, as relações de convivência também mudam e as habilidades que estão sendo trabalhadas neste currículo cognitivo e emocional preparam melhor os alunos de agora para atuarem como pessoas mais equilibradas e justas.
  
  Quer saber como o SAS pode ajudar sua escola na implementação da educação socioemocional e na missão de transformar pessoas por meio da Educação de Excelência? Clique aqui e fale com nosso time de consultores. 
  
  Aproveite e leia também sobre como elaborar aulas mais criativas a distância!
  
  </p>

</ion-content>
